.App {
  text-align: center;
  display: flex;
  border: solid black;
  height: 100vh;
}

.home-page {
  border: solid yellow;
  width: 50%;
  display: flex;
  flex-direction: column;
}

h1 {
  border: solid blue;
}

.search-bar {
  /* border: solid green; */
  padding: 1em;
  margin-block: 1em;
}

.employee-page {
  border: solid brown;
  width: 50%;
}

.employee-list {
  border: solid purple;
  overflow-y: scroll;
}

.employee-list-item {
  border: solid red;
  pointer-events: painted;
  margin: 1em;
  background-color: rgba(0, 0, 0, 9%);
  max-width: 400px;
  margin-inline: auto;
  border-radius: 10px;
}

.employee-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
}

.profile-page-img {
  height: 150px;
  border-radius: 50%;
}

.employee-info {
  border: solid green;
}

#back-button {
  position: absolute;
  left: 0;
  align-self: center;
  margin-inline: 1em;
}

.close-employee-page {
  display: none;
  width: 100%;
}